<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.storeonline.infrastructure.view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.storeonline.infrastructure.view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.storeonline.infrastructure.view.SelectionActivity"
            android:exported="false" />
        <activity
            android:name="com.storeonline.infrastructure.view.ProductListActivity"
            android:exported="false" />
        <activity
            android:name="com.storeonline.infrastructure.view.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.storeonline.infrastructure.view.AddProductActivity"
            android:exported="false" />
        <activity
            android:name="com.storeonline.infrastructure.view.CartActivity"
            android:exported="false" />
        <activity
            android:name="com.storeonline.infrastructure.view.ShippingDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.storeonline.infrastructure.view.PaymentActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.storeonline.infrastructure.view.MapActivity"
            android:exported="false" />
        <activity
            android:name="com.storeonline.infrastructure.view.UserManagementActivity"
            android:exported="false" />

        <meta-data
            android:name="osmdroid.basePath"
            android:value="osmdroid" />
        <meta-data
            android:name="osmdroid.cachePath"
            android:value="osmdroid/cache" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>